BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AccessModifierOffset: -4
BreakBeforeBraces: Linux
ColumnLimit: 100
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentWidth: 4
Language: Cpp

